In [2]:
import pandas as pd 
import numpy as np

In [3]:
data = pd.read_csv("health_metrics.csv")

In [4]:
data.head(6)

,employee_id,employee_name,date,heart_rate_bpm,steps,calories_burned,sleep_hours,spo2_percent,stress_level,body_temperature_c
0,1000,Olivia Taylor,2025-01-01,76,12221,3399,8.5,98,10,35.7
1,1001,Liam Lopez,2025-01-31,97,6722,2085,4.3,96,8,37.1
2,1002,Ethan Lopez,2025-02-24,106,1005,3174,5.2,95,5,37.0
3,1003,Emma Johnson,2025-01-11,67,3304,2494,8.3,93,6,37.7
4,1004,Liam Taylor,2025-02-17,98,2864,1921,8.3,96,9,36.5
5,1005,Emma Garcia,2025-02-21,74,5411,1793,8.8,100,1,37.8